<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
.theBold {
    background-color:#f88;
    border:3px solid #000;
}
/*
how to bind iterate?
we could use class and iterate wit jQuery. Needed?
or we could iterate over data
*/
    </style>
    <script src="vue.js"></script>
  </head>
  <body>
    <h2>Step 2 - binding</h2>
    <div id="app">
        <h3 :class="titleClass">{{ title + '&nbsp;'}}</h3>
        <h3 :class="getTitleClass()">{{ title + '&nbsp;'}}</h3>
        <p v-for="item in items" :key="item.id" :data-id="item.id" :data-val="item.val" :style="calcStyle(item.val)">
            <input v-model="item.val" />
            {{item.text}} 
        </p>
    </div>

    <script>
const app = Vue.createApp({
    data() {
        return {  
            title: 'the title',
            titleClass: "theBold",
            items: [
                {id: 53, text: 'some text', val: 10},
                {id: 64, text: 'some text2', val: 20},
                {id: 12, text: 'asdf', val: -5}
            ]
        }
    },
    computed: {
    },
    methods: {
        calcStyle(val) {
            return {
                border: Math.abs(val) + 'px solid black',
                rotate: val + 'deg'
            }
        },
        getTitleClass() {
            return this.titleClass;
        }
    }
});
const mountedApp = app.mount('#app');
</script>
  </body>
</html>
