body {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.module {
/*    background-color:#0f0;*/
    opacity:1;
}

.dial {
    padding:3px;
    position: absolute;
    display: flex;
    align-items:center;
}


.knob {
    /*background-color:#00f;*/
}

.centerknob {
}

.rotaryswitch {
    padding:0px;
}
